In [8]:
import pandas as pd
import numpy as np
import gensim

In [5]:
df = pd.read_csv('nlp-authorship-vectorization/100Paragraphs_150Words.csv', index_col = 0)

In [23]:
df.head()

,text,author,sex,period
0,him there was more noise than ever over at the...,KateChopin,female,realism
1,mr pontelliers two children were theresturdy l...,KateChopin,female,realism
2,mr pontellier he himself had taken a plunge at...,KateChopin,female,realism
3,summer day mrs pontellier reached over for a p...,KateChopin,female,realism
4,whence her husband had disappeared robert supp...,KateChopin,female,realism

In [22]:
authors = list(set((df['author'])))
authors

['EdithWharton',
 'CharlesDickens',
 'MargaretFuller',
 'NathanielHawthorne',
 'FScottFitzgerald',
 'MaryWollstonecraft',
 'JaneAustin',
 'VirginiaWoolf',
 'HenryDavidThoreau',
 'JackLondon',
 'KateChopin',
 'MaryShelley',
 'MarkTwain',
 'JohnLocke']

In [24]:
# split 
def split_by_authors():
    df_split ={}
    for author in authors:
        df_ = df[df['author'] == author]
        df_split[author] = df_
    return df_split

df_by_authors = split_by_authors()

In [56]:
train_set_df = pd.DataFrame(columns=list(df.columns))
test_set_df = pd.DataFrame(columns=list(df.columns))
validation_set_df = pd.DataFrame(columns=list(df.columns))
for author in authors:
    train_set = df_by_authors[author].sample(70)
    test_val_set = df_by_authors[author].drop(train_set.index)
    validation_set = test_val_set.sample(5)
    test_set = test_val_set.drop(validation_set.index)
    train_set_df = pd.concat([train_set_df,train_set])
    test_set_df = pd.concat([test_set_df,test_set])
    validation_set_df = pd.concat([validation_set_df,validation_set])

In [ ]:
# Doc2Vec- initializing the model
model = gensim.models.doc2vec.Doc2Vec(vector_size=50, min_count=2, epochs=40)